.bc {
    background-color: antiquewhite;
}

.op {
    background-color: aqua;
    opacity: 0.5;
}

.bi {
    background-image: url("paper.gif");
}

.br {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-y;
    height: 200px;
}

.bp {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
}

.ba {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
}

.background {
    background: red url("paper.gif") no-repeat right scroll;
}